span {
    color: blue;
}
nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}
nav ul li {
    margin: 0 25px;
    font-size: 1em;
    line-height: 4.3em;
}
.nav {
    text-align: center;
}